.info__title {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 114%;
    margin: 0;
}

@media (max-width: 900px) {
    .info__title{
        margin: 0 auto;
        font-style: normal;
        font-weight: 500;
        font-size: 27px;
        line-height: 33px;
        text-align: center;
    }
}