.card__like_active {
    background-image: url("../../../../images/Union.svg");
    background-repeat: no-repeat;
    width: 22px;
    height: 19px;
    margin: auto 0;
    background-color: white;
    border: none;
}