.button_add {
width: 150px;
height: 50px;
border: 2px solid white;
box-sizing: border-box;
border-radius: 2px;
}

@media (max-width: 900px) {
    .button_add{
        margin-top: 36px;
        width: 88.15vw;
        max-width: 900px;
    }
}